<?xml version="1.0"?>
<robot name="standoff"  xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="rlength" value="0.22" />
  <xacro:property name="rradius" value="0.01" />

<xacro:macro name="standoff" params="rod_num">  
  <link name="${rod_num}">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${rlength}" radius="${rradius}"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${rlength}" radius="${rradius}"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.5" />
      <inertia ixx="0.00202916667" ixy="0.0" ixz="0.0" iyy="0.00202916667" iyz="0.0" izz="0.000025" />
    </inertial>
  </link>

    <gazebo reference="${rod_num}">
      <material>Gazebo/White</material>
    </gazebo> 
    
</xacro:macro>

</robot>